<html>
	<head>
		<title>{{coin_name}} v{{coin_version}} Explorer</title>
		<script type="text/javascript" src="javascript.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets.css" />
	</head>
	<body>
		This is a test
	</body>
</html>